.figure {
  float: right;
  margin-bottom: 1rem;
  clear: both;
  width: 300px;
  object-fit: scale-down;
}

.captionjs, .captionjs figcaption {
  margin: 0 0 20px;
  padding: 0;
}
.captionjs figcaption {
  font-size: 13px;
  line-height: 1.5;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-top: none;
  background-color: #eee;
}
.captionjs.captionjs-stacked figcaption {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border: none;
}
.captionjs.captionjs-animated figcaption {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border: none;
}
.captionjs.captionjs-hidden figcaption {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border: none;
}
.captionjs.captionjs-default a {
  color: #000;
}